.section-mission {
  .navigation {
    background: transparent;
  }
  .news-feed {
    height: auto;
    min-height: 100vh;
    background: #E6E6E6 url('../images/whoWeAre/team.jpg') no-repeat scroll 90% 100%;
    background-size: 66% auto;
    padding: 15vh 90px 0 90px;
    background-position: 100% 50%;
    .view {
      padding: 0 0 0 0;
      max-width: 100% !important;
      height: 100vh;
    }

    .block-views {
      height: 0;
    }

    article {
      width: 30%;
      display: inline-block;
      position: absolute;
      z-index: 50;

      .field-name-body > .field-items > .field-item {
        max-height: 80vh;
        overflow: auto;
      }
    }
    p {
      font-family: 'probaPro';
      text-align: justify;
      letter-spacing: 1.5px;
      display: block;
      color: $main-text-color;
      padding: 0 45px 0 0px;

      &:first-child {
        font-size: $fs-md;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 50px 0 10px 0;

        &:after {
          content: '';
          display: block;
          border-bottom: 4px solid $main-text-color;
          width: 8%;
          margin-top: 5px;
        }
      }

      &:nth-child(3n) {
        font-family: 'probaPro';
        font-size: $fs-md;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 20px 0 10px 0;

        &:after {
          content: '';
          display: block;
          border-bottom: 4px solid $main-text-color;
          width: 8%;
          margin-top: 5px;
        }
      }

      &:last-child {
        margin-bottom: 60px;
      }
    }

    .view-content {
      right: 0;
      bottom: 0;
      top: 0;
      position: absolute;
      z-index: 10;
      display: block;
      width: 60%;
      margin-left: 34%;
      height: 100vh;

      .views-row {
        padding-top: 2vh;
        height: 70vh;
        display: inline-block;
        width: 5%;
        margin-left: 5%;
        .views-field {
          height: 70vh;
          width: 100%;
          .field-content {
            height: 100%;
            width: 100%;
            .member {
              display: none;
              .member-info-container {
                .member-info {
                  border-radius: 2px;
                  background: rgba(192, 192, 192, 0.7);
                  padding: 10px;
                  width: 15vw;
                  .member-name {
                    display: block;
                    height: 12px;
                    a {
                      display: block;
                      height: 100%;
                      margin-bottom: 10px;
                      color: $main-text-color;
                      text-decoration: none;
                      transition: all 0.3s;
                      font-size: 12px;
                      font-weight: 200;
                    }
                  }

                  .role {
                    padding-top: 20px;
                    font-size: 8px;
                    color: $main-text-color;
                    font-weight: 200;
                  }

                  .member-quote {
                    display: none;
                    padding-top: 10px;
                    font-family: 'probaProItalic';
                    font-size: 10px;
                    color: $main-text-color;
                  }

                  a {
                    display: inline-block;
                    width: 25%;
                    height: 100%;

                    i {
                      display: inline-block;
                      width: 10%;
                      height: 5%;
                      text-decoration: none;
                      color: $main-text-color;
                      font-size: 20px;

                      &.email {

                      }
                      &.linkedin {

                      }
                    }
                  }
                }
              }
            }
          }
          &:hover {
            .field-content {
              height: 100%;
              width: 100%;
              .member {
                display: block;
              }
            }
          }
        }

        &.views-row-1 {
          margin-left: 3%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;

            }
          }
        }

        &.views-row-2 {
          width: 8%;
          margin-left: 4%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;

            }
          }
        }

        &.views-row-3 {
          margin-left: 2%;
          .views-field {

            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-4 {
          margin-left: 5%;
          width: 6%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-5 {
          margin-left: 1%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-6 {
          margin-left: 0;
          width: 5%;
          .views-field {

            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;

            }
          }
        }

        &.views-row-7 {
          margin-left: 0;
          width: 5%;
          .views-field {

            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-8 {
          margin-left: 3%;
          width: 5%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-9 {
          margin-left: 0;
          width: 4%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-10 {
          margin-left: 0;
          width: 5%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-11 {
          margin-left: 3%;
          width: 5%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }

        &.views-row-12 {
          margin-left: 0;
          width: 5%;
          .views-field {
            width: 100%;
            .field-content {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }

    .links {
      display: none;
    }
  }

  .footer-section {
    height: 80px;
    background: #455e86;
    //  padding-top: 20px;
    .footer-list {
      background: $contacts-bg;
      height: 60px;
      padding: 0 150px 0 300px;

      li {
        display: inline-block;
        color: #b9bec4;
        width: 31%;
        margin-right: 15px;
        text-align: left;
        padding: 24px 0 0 0;

        .footer-text {
          font-family: probaPro;
          font-size: $fs-sm;
        }
        &.right {
          margin-left: calc(31% + 15px);
        }
      }
    }
  }
}
