.who-we-are-section {
  height: auto;
  min-height: 100vh;

  background: url('../images/whoWeAre/team.jpg') no-repeat scroll 85% 100%;
  background-size: cover;

  .text-wrapper {
    width: 40%;
    color: $main-text-color;
    padding: 140px 90px 0px 150px;

    .title {
      font-family: 'probaPro';
      font-weight: 400;
      letter-spacing: 2px;
      margin: 20px 0px 10px 0px;
    }

    .line {
      display: block;
      border-bottom: 4px solid $main-text-color;
      width: 8%;
      margin-top: 5px;
    }

    .regular-text {
      margin-top: 20px;
    }
  }

  .teammate {
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 100;
    width: 200px;
    height: 450px;
    background: gray;
    .trigger-zone {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 40;
      display: inline-block;
      width: 100px;
      height: 250px;
      background: blue;
      cursor: pointer;

      &:hover {
        .popup-info {
          display: block;
        }
      }
    }

    .popup-info {
      cursor: pointer;
      position: fixed;
      z-index: 50;
      float: right;
      display: inline-block;
      width: 150px;
      height: 200px;
      background: red;
    }
  }
}