

@media screen and (min-device-width: 1366px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .contacts-section {
    width: 100%;
    height: 100%;

    padding-top: 20%;
    #map {
      width: 100%;
      height: 40%;
      min-height: 200px;
      max-height: 350px;
      margin: 0;
      padding: 0
    }

    .contacts-tab {
      height: 40%;
      max-height: 350px;
      background-color: $contacts-bg;
      color: white;
      font-family: 'probaPro';
      font-weight: 200;
      padding: 60px 150px 60px 300px;

      .nav-pills {
        li {
          display: inline-block;
          margin-right: 30px;

          &.active {
            a {
              color: white;
              font-size: $fs-md;
            }

            .line {
              display: block;
            }
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: #536888;
            font-size: 14px;
            text-transform: uppercase;
            transition: all 0.3s;
          }

          .line {
            display: none;
            width: 20%;
            margin-top: 10px;
            border-bottom: 1px solid $white;
          }
        }
      }

    }
  }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1025px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}