/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .contacts-section {
    position: relative;
    box-sizing: border-box;
    margin-top: 25px;
    padding-top: 0;
    height: auto;
    min-height: 0;

    .section-name {
      display: block;
    }

    .map {
      height: 45vh;
      min-height: 220px;
    }
    .contacts-tab {
      height: auto;
      min-height: 250px;
      padding: 0;

      .nav-pills {
        padding: 35px 5% 20px 33%;
        li {
          display: inline-block;
          margin-right: 10px;

          &.active {
            a {
              color: white;
              font-size: $fs-md;
            }

            .line {
              display: block !important;
            }
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: #536888;
            font-size: 14px;
            text-transform: uppercase;
            transition: all 0.3s;
          }

          .line {
            display: none;
            width: 20%;
            margin-top: 10px;
            border-bottom: 1px solid $white;
          }
        }
      }

      .tab-pane {
        display: inline-block;
        width: 100%;
        margin-top: 0;

        .contact-address {
          width: 100%;
          li {
            display: inline-block;
            width: 31%;
            margin-right: 0;
            padding: 15px 0 0 4%;

            .icon {
              display: inline-block;
              width: 20%;
              height: 50px;
              color: #ffffff;
            }

            .address-text {
              display: inline-block;
              width: 75%;
            }

            .pointer-icon {
              background: url('../images/contacts/address-icon.png') no-repeat scroll left top;
            }

            .phone-icon {
              background: url('../images/contacts/address-phone-icon.png') no-repeat scroll left top;
            }

            .email-address-icon {
              background: url('../images/contacts/address-mail-icon.png') no-repeat scroll left top;
            }
          }
        }
      }

      .fade {
        display: none;
      }

      .in {
        display: block;
      }

    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .contacts-section {
    position: relative;
    box-sizing: border-box;
    margin-top: 25px;
    padding-top: 0;
    height: auto;
    min-height: 0;

    .section-name {
      display: block;
    }

    .map {
      height: 45vh;
      min-height: 220px;
    }
    .contacts-tab {
      height: auto;
      min-height: 250px;
      padding: 0;

      .nav-pills {
        padding: 35px 5% 20px 33%;
        li {
          display: inline-block;
          margin-right: 10px;

          &.active {
            a {
              color: white;
              font-size: $fs-md;
            }

            .line {
              display: block !important;
            }
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: #536888;
            font-size: 14px;
            text-transform: uppercase;
            transition: all 0.3s;
          }

          .line {
            display: none;
            width: 20%;
            margin-top: 10px;
            border-bottom: 1px solid $white;
          }
        }
      }

      .tab-pane {
        display: inline-block;
        width: 100%;
        margin-top: 0;

        .contact-address {
          width: 100%;
          li {
            display: inline-block;
            width: 31%;
            margin-right: 0;
            padding: 15px 0 0 4%;

            &:first-child {
              padding-left: 10%;
            }
            .icon {
              display: inline-block;
              width: 20%;
              height: 50px;
              color: #ffffff;
            }

            .address-text {
              display: inline-block;
              width: 75%;
            }

            .pointer-icon {
              background: url('../images/contacts/address-icon.png') no-repeat scroll left top;
            }

            .phone-icon {
              background: url('../images/contacts/address-phone-icon.png') no-repeat scroll left top;
            }

            .email-address-icon {
              background: url('../images/contacts/address-mail-icon.png') no-repeat scroll left top;
            }
          }
        }
      }

      .fade {
        display: none;
      }

      .in {
        display: block;
      }

    }
  }
}