/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1600px) and (max-device-width: 1700px) and (-webkit-min-device-pixel-ratio: 1) {
  .top-story-section {

    .first {

      animation-duration: 2.8s;
      background: transparent url('../images/topStory/first.png') no-repeat scroll -1.2% 45%;
      z-index: 10;
    }

    .second {
      animation-duration: 2.3s;
      background: transparent url('../images/topStory/second.png') no-repeat scroll 85.5% 45%;
      z-index: 20;
    }

    .third {
      animation-duration: 2.5s;
      background: transparent url('../images/topStory/third.png') no-repeat scroll 85% 0%;
      z-index: 30;
    }

    .fourth {
      animation-duration: 2.6s;
      background: transparent url('../images/topStory/fourth.png') no-repeat scroll 108% 0%;
      z-index: 40;
    }

    .fifth {
      animation-duration: 2.7s;
      background: transparent url('../images/topStory/fifth.png') no-repeat scroll 108% 0%;
      z-index: 50;
    }

    .sixth {
      animation-duration: 2.8s;
      background: transparent url('../images/topStory/sixth.png') no-repeat scroll 95% 120%;
      z-index: 60;
    }

    .seventh {
      animation-duration: 2.9s;
      background: transparent url('../images/topStory/seventh.png') no-repeat scroll 110% 100%;
      z-index: 70;
    }

    .eighth {
      animation-duration: 2s;
      background: transparent url('../images/topStory/eighth.png') no-repeat scroll 109% 100%;
      z-index: 80;
    }

    .services {
      li {
        margin-top: 48%;
      }
    }

  }

}

@media screen and (min-device-width: 1701px) and (max-device-width: 1800px) and (-webkit-min-device-pixel-ratio: 1) {
  .top-story-section {

    .first {

      animation-duration: 2.8s;
      background: transparent url('../images/topStory/first.png') no-repeat scroll 3.5% 45%;
      z-index: 10;
    }

    .second {
      animation-duration: 2.3s;
      background: transparent url('../images/topStory/second.png') no-repeat scroll 81.5% 45%;
      z-index: 20;
    }

    .third {
      animation-duration: 2.5s;
      background: transparent url('../images/topStory/third.png') no-repeat scroll 88% 0%;
      z-index: 30;
    }

    .fourth {
      animation-duration: 2.6s;
      background: transparent url('../images/topStory/fourth.png') no-repeat scroll 96% 0%;
      z-index: 40;
    }

    .fifth {
      animation-duration: 2.7s;
      background: transparent url('../images/topStory/fifth.png') no-repeat scroll 100% 0%;
      z-index: 50;
    }

    .sixth {
      animation-duration: 2.8s;
      background: transparent url('../images/topStory/sixth.png') no-repeat scroll 88% 120%;
      z-index: 60;
    }

    .seventh {
      animation-duration: 2.9s;
      background: transparent url('../images/topStory/seventh.png') no-repeat scroll 99% 100%;
      z-index: 70;
    }

    .eighth {
      animation-duration: 2s;
      background: transparent url('../images/topStory/eighth.png') no-repeat scroll 101% 100%;
      z-index: 80;
    }

    .services {
      li {
        margin-top: 45%;
      }
    }

  }
}

@media screen and (min-device-width: 1801px) and (max-device-width: 1900px) and (-webkit-min-device-pixel-ratio: 1) {
  .top-story-section {

    .first {

      animation-duration: 2.8s;
      background: transparent url('../images/topStory/first.png') no-repeat scroll 7.5% 45%;
      z-index: 10;
    }

    .second {
      animation-duration: 2.3s;
      background: transparent url('../images/topStory/second.png') no-repeat scroll 78% 40%;
      z-index: 20;
    }

    .third {
      animation-duration: 2.5s;
      background: transparent url('../images/topStory/third.png') no-repeat scroll 95% 0%;
      z-index: 30;
    }

    .fourth {
      animation-duration: 2.6s;
      background: transparent url('../images/topStory/fourth.png') no-repeat scroll 88% 0%;
      z-index: 40;
    }

    .fifth {
      animation-duration: 2.7s;
      background: transparent url('../images/topStory/fifth.png') no-repeat scroll 93.5% 0%;
      z-index: 50;
    }

    .sixth {
      animation-duration: 2.8s;
      background: transparent url('../images/topStory/sixth.png') no-repeat scroll 95% 120%;
      z-index: 60;
    }

    .seventh {
      animation-duration: 2.9s;
      background: transparent url('../images/topStory/seventh.png') no-repeat scroll 91% 100%;
      z-index: 70;
    }

    .eighth {
      animation-duration: 2s;
      background: transparent url('../images/topStory/eighth.png') no-repeat scroll 95% 100%;
      z-index: 80;
    }

    .services {
      li {
        margin-top: 42%;
      }
    }

  }
}

@media screen and (min-device-width: 1901px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 1) {

  .top-story-section {

    .first {

      animation-duration: 2.8s;
      background: transparent url('../images/topStory/first.png') no-repeat scroll 11% 42%;
      z-index: 10;
    }

    .second {
      animation-duration: 2.3s;
      background: transparent url('../images/topStory/second.png') no-repeat scroll 74.5% 40%;
      z-index: 20;
    }

    .third {
      animation-duration: 2.5s;
      background: transparent url('../images/topStory/third.png') no-repeat scroll 87% 15%;
      z-index: 30;
    }

    .fourth {
      animation-duration: 2.6s;
      background: transparent url('../images/topStory/fourth.png') no-repeat scroll 82% 0%;
      z-index: 40;
    }

    .fifth {
      animation-duration: 2.7s;
      background: transparent url('../images/topStory/fifth.png') no-repeat scroll 87.5% 0%;
      z-index: 50;
    }

    .sixth {
      animation-duration: 2.8s;
      background: transparent url('../images/topStory/sixth.png') no-repeat scroll 90% 120%;
      z-index: 60;
    }

    .seventh {
      animation-duration: 2.9s;
      background: transparent url('../images/topStory/seventh.png') no-repeat scroll 84% 100%;
      z-index: 70;
    }

    .eighth {
      animation-duration: 2s;
      background: transparent url('../images/topStory/eighth.png') no-repeat scroll 89.5% 100%;
      z-index: 80;
    }

    .services {
      li {
        margin-top: 38%;
      }
    }

  }
}

///* ----------- Retina Screens ----------- */
//@media screen
//and (min-device-width: 1600px)
//and (max-device-width: 1700px)
//and (-webkit-min-device-pixel-ratio: 2)
//and (min-resolution: 192dpi) {
//}
//
//@media screen
//and (min-device-width: 1701px)
//and (max-device-width: 1800px)
//and (-webkit-min-device-pixel-ratio: 2)
//and (min-resolution: 192dpi) {
//}
//
//@media screen
//and (min-device-width: 1801px)
//and (max-device-width: 1900px)
//and (-webkit-min-device-pixel-ratio: 2)
//and (min-resolution: 192dpi) {
//}
//
//
//@media screen
//and (min-device-width: 1901px)
//and (max-device-width: 2000px)
//and (-webkit-min-device-pixel-ratio: 2)
//and (min-resolution: 192dpi) {
//}