/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .mobile-top-story-section {
    height: 100%;
    padding-top: 20%;
    .view-display-id-block_2 {
      height: 100vh;
      max-height: 730px;
      .view-content {
        height: 100%;
        .competences {
          height: 100%;
          li {
            vertical-align: top;
            display: inline-block;
            width: 49.3%;
            height: 32.5%;
            cursor: pointer;
            background: $main-text-color;
            border: 1px solid #e9eaec;;
            a {
              display: block;
              height: 100%;
              padding: 40% 0 0 0;
              color: white;
              text-decoration: none;
              text-align: center;
              font-family: "probaPro";
              text-transform: uppercase;
            }

            &:hover {
              background: #e9eaec;
              a {
                color: $main-text-color;
              }
            }

            .modal {
              &.fade.in {
                height: auto;
                min-height: 90vh;
                transform: translate(0, 0vh);
              }

              .modal-dialog {
                width: 100%;
                margin: 0;

                .modal-content {
                  height: auto;
                  min-height: 0px;
                  border: 0px none;
                  background: $modal-bg;
                  border-radius: 0;
                  color: $white;
                  font-family: 'probaPro';
                  vertical-align: bottom;

                  .close {
                    display: block;
                    width: 100%;
                    height: 30px;

                    .close-button {
                      padding: 0;
                      margin-top: 0;
                      text-decoration: none;
                      $size: 50px;
                      height: $size;
                      width: $size;
                      box-sizing: border-box;
                      line-height: $size;
                      display: inline-block;

                      &:before, &:after {
                        $width: 30px;
                        $height: 3px;
                        transform: rotate(-45deg);
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -$height/2;
                        margin-left: -$width/2;
                        display: block;
                        height: $height;
                        width: $width;
                        background-color: #fff;
                        transition: all 0.25s ease-out;
                      }

                      &:after {
                        transform: rotate(-135deg);
                        margin-left: -15px;
                      }

                      &:before {

                        margin-left: -15px;
                      }
                    }
                  }
                  .modal-body {
                    background: transparent url('../images/services/dotted_worldmap.png') no-repeat top center;
                    background-size: 79% 15%;
                    height: auto;
                    .modal-content-wrapper {
                      display: inline-block;
                      width: 100%;
                      padding: 0 30px 50px 30px;

                      h2 {
                        text-transform: uppercase;
                        font-family: 'probaPro';
                        text-align: center;
                      }

                      .line {
                        display: block;
                        width: 5%;
                        border-bottom: 2px solid #ffffff;
                        text-align: center;
                        margin-left: 47.5%;
                        margin-top: 10px;
                      }

                      p {
                        margin: 10px 0px 0px 0px;
                        font-size: $fs-sm;
                        font-family: 'probaPro';
                      }

                      & > ul {
                        margin-top: 15px;
                        li {
                          margin-left: 10px;
                          font-size: $fs-sm;
                          width: 95%;
                          background: transparent;
                          border: 0 none;
                        }
                      }

                    }
                  }
                }
              }
            }

            .modal-open {
              overflow: auto;
            }

            .modal-backdrop.in {
              opacity: 0;
              position: relative;
            }
          }
        }
      }
    }
  }



}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}