<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFC || Corporate website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxc5g10jp8zZSf-gaNvlu8vMR5JRiUsOw">
    </script>
</head>
<body>
<div class="loader animated zoomIn">
    <div class="loader-text">
        <h1 class="animated slideInDown appearence first">Strategic Communications</h1>

        <h1 class="animated slideInDown appearence second">For Trust,</h1>

        <h1 class="animated slideInDown appearence third">Prosperity</h1>

        <h1 class="animated slideInDown appearence fourth">and Growth</h1>
    </div>

</div>

<nav class="navigation">
    <div class="left-side-nav">
        <!-- Language Panel -->
        <ul class="language-switcher-locale-url">
            <li><a href="#">Укр</a></li>
            <li><a href="#">Eng</a></li>
        </ul>
        <!-- Language Panel -->

        <!-- Navigation Menu -->
        <div class="nav-menu">
            <div class="menu-icon">
                <span class="line first"></span>
                <span class="line second"></span>
                <span class="line third"></span>
            </div>

            <a href="#" class="dropdown uppercase" id="menu_dropdown">Main</a>

            <div class="dropdown-content uppercase" id="menu_dropdown_content">
                <a href="#">Main</a>
                <a href="#">Services</a>
                <a href="#">Cases</a>
                <a href="#">News</a>
                <a href="#">Contacts</a>
            </div>
            <!-- Navigation Menu -->
        </div>
    </div>

    <div class="right-side-nav">
        <!-- Icon Bar -->
        <ul class="icon-bar">
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>

        </ul>
        <!-- Icon Bar -->

        <!-- Current Position -->
        <ul class="current-position">
            <li class="section-spy "><a href="#">top story</a></li>
            <li class="section-spy "><a href="#">our team</a></li>
            <li class="section-spy "><a href="#">services</a></li>
            <li class="section-spy "><a href="#">news</a></li>
            <li class="section-spy "><a href="#">careers</a></li>
            <li class="section-spy "><a href="#">contacts</a>

        </ul>
        <!-- Current Position -->
    </div>

</nav>
<main class="main-content main">
    <section class="top-story-section">

        <div class="logo">
        </div>


        <ul class="services">
            <li><a href="#">Goverment Relations <br> & Public Affairs</a></li>
            <li><a href="#">Investor Relations <br> & Financial Communications</a></li>
            <li><a href="#">Media Relations <br> & Public Affairs</a></li>
            <li><a href="#">Special Issues <br> & Crises Management</a></li>
            <li><a href="#"> Philantropy & Corporate <br> Social Responsibility</a></li>
            <li><a href="#">Promotion <br> & Event management</a></li>
        </ul>
        <a href="#" class="phone"><span class="phone-number">+380 (44) 492-75-99</span></a>
    </section>
    <!--<section class="team-section">-->
    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->

    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->

    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->


    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->

    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->

    <!--<div class="member uppercase"><a class="member-info" href="#">-->
    <!--<h2 class="title">Tactics</h2>-->
    <!--<span class="line"></span>-->

    <!--<h1 class="member-name">Gennadiy</h1>-->

    <!--<h1 class="member-name">Kurochka</h1>-->

    <!--<h2 class="role">Managing Partner</h2>-->
    <!--<span class="line"></span>-->

    <!--<a href="#" class="link mail"><i class="fa fa-envelope-o "></i></a>-->
    <!--<a href="#" class="link linkedin"><i class="fa fa-linkedin-square"></i></a>-->


    <!--</a></div>-->


    <!--</section>-->

    <section class="services-section">

        <ul class="services">
            <li><a href="#philantropy" data-toggle="modal"> Philantropy & Corporate <br> Social Responsibility
                <span class="line"></span></a></li>
            <li><a href="#philantropy" data-toggle="modal">Goverment Relations <br> & Public Affairs
                <span class="line"></span></a></li>
            <li><a href="#philantropy" data-toggle="modal">Investor Relations <br> & Financial Communications
                <span class="line"></span></a></li>
            <li><a href="#philantropy" data-toggle="modal">Media Relations <br> & Public Affairs
                <span class="line"></span>
            </a></li>
            <li><a href="#philantropy" data-toggle="modal">Special Issues <br> & Crises Management
                <span class="line"></span></a></li>

            <li><a href="#philantropy" data-toggle="modal">Promotion <br> & Event management
                <span class="line"></span></a></li>
        </ul>


        <div class="modal fade" role="dialog" id="philantropy">
            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-body">
                        <div class="close">

                            <a href="#" data-dismiss="modal" class="close-button"></a>
                        </div>
                        <div class="modal-content-wrapper">
                            <h1 class="modal-head-text">
                                Philantropy & Corporate <br> Social Responsibility
                            </h1>
                            <span class="line"></span>

                            <p class="modal-body-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam<br>
                                dignissim erat sodales, vitae fermentum augue faucibus. <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam
                                dignissim erat sodales, vitae fermentum augue faucibus.
                            </p>

                            <p class="modal-body-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam<br>
                                dignissim erat sodales, vitae fermentum augue faucibus. <br>
                            </p>
                        </div>

                        <div class="modal-animation-wrapper">
                            <div class="animation">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="news-section">
        <div class="news-item">
            <a class="news-info" href="#">
                <h2 class="category">Category, Date</h2>

                <h1 class="news-title">News 1</h1>

                <p class="preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam
                    dignissim erat sodales, vitae fermentum augue faucibus. </p>

            </a>
        </div>

        <div class="news-item">
            <a class="news-info" href="#">
                <h2 class="category">Category, Date</h2>

                <h1 class="news-title">News 2</h1>


                <p class="preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam
                    dignissim erat sodales, vitae fermentum augue faucibus. </p>


            </a>
        </div>


        <div class="news-item">
            <a class="news-info" href="#">
                <h2 class="category">Category, Date</h2>

                <h1 class="news-title">News 3</h1>


                <p class="preview-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis quam
                    dignissim erat sodales, vitae fermentum augue faucibus. </p>


            </a>
        </div>
        <a href="#" class="all-news-btn uppercase">All news</a>
    </section>

    <section class="career-section">

        <div class="text-wrapper">
            <h1 class="title-text uppercase">ideology of <br> company</h1>
            <span class="line"></span>

            <p class="about-us-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>

            <p class="about-us-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </p>


            <form class="cv-form" action="#">
                <input type="text" class='form-input uppercase' placeholder="name">
                <input type="text" class='form-input uppercase' placeholder="email">
                <input type="file" id="cv" class='load-file'>
                <label for="cv" class="label uppercase"><span class="icon"></span> <span
                        class="text">Upload CV</span></label>
                <button type="submit" class="submit-btn uppercase">Send cv</button>
            </form>
        </div>
    </section>

    <section class="contacts-section">
        <div class="map" id="map"></div>

        <div class="contacts-tab">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#main-office">Main Office</a>
                    <span class="line"></span>
                </li>
                <li><a data-toggle="pill" href="#dubai-office">Dubai-office</a>
                    <span class="line"></span></li>
            </ul>

            <div class="tab-content">
                <div id="main-office" class="tab-pane fade in active">
                    <ul class="contact-address">
                        <ul class="contact-address">
                            <li><span class="icon pointer-icon"></span> <span class="address-text">
                                8 Kostolna str.<br>
                                5th floor<br>
                                Kyiv, 01001, Ukraine
                            </span></li>
                            <li><span class="icon phone-icon"></span> <span class="address-text">
                                Tel.: +380 (04) 492-75-99 <br>
                                Fax: +380 (44) 278-39-07
                                </span>
                            </li>
                            <li><span class="icon email-address-icon"></span> <span class="address-text">
                                gk@cfcentertainment.com
                                </span>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div id="dubai-office" class="tab-pane fade">
                    <ul class="contact-address">
                        <li><span class="icon pointer-icon"></span> <span class="address-text">
                            Dubai Silicon Oasis <br>
                            Headquarters Building, <br>
                            4th floor, C&D Wing <br>
                            P.O. Box 341041, <br>
                            Dubai, UAE
                            </span></li>
                        <li><span class="icon phone-icon"></span> <span class="address-text">
                                Tel.: +971 (04) 3724637 <br>
                                Fax: +971 (04) 5015777
                                </span>
                        </li>
                        <li><span class="icon email-address-icon"></span> <span class="address-text">
                                gk@cfcentertainment.com
                                </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="js/all.js"></script>
</body>
</html>