.news-feed {
  width: 100%;
  height: 100vh;
  padding: 15vh 90px 0 90px;
  .view {
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    padding: 15vh 90px 115px 90px;
    width: 100%;
    max-width: 1280px;

    .view-content {
      height: auto;

      .news-item {
        width: 31.8%;
        max-width: 360px;
        height: auto;
        display: inline-block;

        margin: 10px 0px 10px 0px;

        &:nth-child(3n+2) {
          margin: 10px 20px 10px 20px;

        }

        .views-field {
          width: 100%;
          height: 100%;

          .news-content {
            display: block;
            min-width: 360px;
            height: 100%;
            //padding: 100px 50px 50px 60px;
            color: $main-text-color;
            text-align: center;
            text-decoration: none;
            transition-property: color;
            transition-duration: 0.3s;

            &:hover {
              color: $main-text-color;

              .news-title {
                a {
                  color: $main-text-color;
                }
              }

              a {
                color: $main-text-color;
              }

            }

            img {
              max-width: 360px;
              max-height: 320px;
              display: block;
            }

            a {
              color: $main-text-color;
              text-align: left;
              transition-property: color;
              transition-duration: 0.3s;
            }

            .category {
              margin-top: 10px;
              font-family: 'probaPro';
              font-weight: 200;
              font-size: $fs-sm;
              color: #a6a69d;
            }

            .news-title {
              height: 95px;
              a {
                margin-top: 30px;
                font-size: 14px;
                font-weight: 200;
                letter-spacing: 1px;
                color: #000;
                display: inline-block;

                &:hover {
                  color: $main-text-color;

                }
              }
            }

            p {
              font-family: 'probaPro';
              font-size: $fs-sm;
              line-height: 150%;
              display: none;
            }

            .content-wrapper > a {
              font-family: 'probaPro';
              color: $main-text-color;
              display: inline-block;
            }

          }

        }
      }
    }
  }

  .item-list {

    ul.pager {
      text-align: center;
      li {
        display: inline-block;
        font-family: 'probaPro';
        margin-left: 5px;
        width: 2%;
        a {
          display: inline-block;
          width: 9px;
          height: 18px;
          text-decoration: none;
          font-size: 24px;
          color: #a6a69d;
          text-transform: uppercase;

          &:hover {
            color: $main-text-color;
          }
        }

        &.pager-previous {
          a {
            background: transparent url('../images/news/previous_icon.png') no-repeat scroll center center;
          }
        }
        &.pager-next {
          a {
            background: transparent url('../images/news/next_icon.png') no-repeat scroll center center;
          }

        }

        &.pager-current {
          font-size: 24px;
        }

        &.pager-first {
          margin-right: 40px;
        }
      }
    }
  }
}