.page__title {
  display: none;
}

.news-feed {
  padding: 15vh 90px 0 90px;
  position: relative;
  overflow: hidden;

  .node-news {
    height: auto;
    color: #a6a69d;
    font-family: 'probaPro';
    text-align: justify;
    min-height: 75vh;
    &.next {
      color: $main-text-color;
      background: url('../images/icons/next.png') no-repeat scroll center center;
    }

    &.previous {
      color: $main-text-color;
      background: url('../images/icons/previous.png') no-repeat scroll center center;
    }

    .submitted-by, .field-name-field-tags {
      display: inline-block;
      margin: -2px 10px 10px 0;
      a {
        text-decoration: none;
        color: #a6a69d;
        font-size: 16px;
        font-family: 'probaPro';
        font-weight: 200;

      }

    }

    header {
      &:before {
        margin-bottom: 5px;
        border-top: 2px solid $main-text-color;
      }

      &:after {
        margin-top: 5px;
        border-bottom: 2px solid $main-text-color;
      }
      .node-title {
        width: 30%;
        font-family: 'probaPro';
        font-weight: 400;
        letter-spacing: 2px;
        margin: 20px 0px 10px 0px;
        color: $main-text-color;
        display: inline-block;
        text-transform: uppercase;
        text-align: left;
      }
    }
    .field-name-field-image {
      float: right;
      width: 60%;
      max-height: 50vh;
      .field-items {
        width: 100%;
        .field-item {
          width: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .field-name-body {
      font-family: 'probaPro';
      color: $main-text-color;
      display: inline-block;
      width: 35%;
      letter-spacing: 1.5px;

      .field-item {
        overflow: auto;
        max-height: 50vh;
        word-wrap: break-word;

        p {
          width: 95%;
        }
      }

    }

    .flippy {
      color: $main-text-color;
      margin-top: 2vh;
      width: 100%;
      text-align: left;
      position: absolute;
      bottom: 0;
      li {
        display: inline-block;
        width: 10%;
        vertical-align: top;
        padding: 10px 0;
      }
      .prev {
        a {
          background: url('../images/icons/previous.png') no-repeat scroll left center;
          color: transparent;
        }
      }
      .mainpage-link {
        background: url('../images/icons/close.png') no-repeat scroll center center;
        color: transparent;
        display: inline-block;
        height: 40px;
      }

      .mainpage-link:last-child {
        display: none;
      }

      .next {
        a {
          background: url('../images/icons/next.png') no-repeat scroll right center;
          color: transparent;
          float: right;
        }
      }
    }
    .links {
      display: none;
    }
  }
}