/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .section-team {
    .news-feed {
      height: 100vh;
      max-height: 100vh;
      padding-top: 0px;
      .node-team-member {
        position: absolute;
        z-index: 1;
        max-height: 90vh;
        max-width: 1280px;
        margin-right: 90px;

        .image-wrapper {
          display: inline-block;
          width: 48%;
          .field-type-image {
            width: 100%;
            height: 100%;
            .field-items {
              width: 100%;
              height: 100%;
              .field-item {
                width: 100%;
                height: 100%;
                img {
                  width: 100%;
                  height: 100%;
                  max-height: 950px;
                }
              }
            }
          }
        }
        .text-wrapper {
          display: inline-block;
          width: 48%;
          padding-left: 2%;
          h2 {
            text-transform: uppercase;
            margin-bottom: 10px;
            font-family: 'probaPro';
            color: $main-text-color;
            text-decoration: none;
            transition: all 0.3s;
            font-size: $fs-md;
            font-weight: 200;
            &:after {
              content: '';
              display: block;
              border-bottom: 2px solid $main-text-color;
              width: 8%;
              max-width: 25px;
              margin-top: 5px;
            }
          }

          .field-name-field-position {
            .field-items {
              .field-item {
                font-size: 14px;
                color: $main-text-color;
                font-weight: 200;
                text-transform: uppercase;
                margin-bottom: 5px;
              }
            }
          }

          .field-name-field-linkedin {
            display: inline-block;

            .field-items {
              .field-item {
                a {
                  text-indent: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  display: block;
                  width: 20px;
                  height: 20px;

                  &:before {
                    content: ' ';
                    background: url('../images/icons/linkedIn.png') no-repeat scroll center center;
                    color: transparent;
                    display: block;
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }

          .field-name-field-email {
            display: inline-block;
            .field-items {
              .field-item {

                a {
                  text-indent: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  display: block;
                  width: 20px;
                  height: 20px;

                  &:before {
                    content: "";
                    background: url('../images/icons/envelope.png') no-repeat scroll center center;
                    color: transparent;
                    display: block;
                    width: 20px;
                    height: 20px;

                  }
                }
              }
            }
          }

          .field-name-body {
            &:before {
              content: '';
              display: block;
              border-bottom: 2px solid $main-text-color;
              width: 8%;
              max-width: 25px;
              margin-top: 10px;
            }

            .field-items {
              .field-item {
                p {
                  margin-top: 10px;
                  font-family: 'probaPro';
                  color: $main-text-color;
                }
              }
            }
          }
        }

        .field-name-field-tags {
          display: none;
        }
        .flippy {
          color: $main-text-color;
          margin-top: 2vh;
          margin-left: 0%;
          width: 100%;
          text-align: center;
          .prev {
            a {
              background: url('../images/icons/previous.png') no-repeat scroll center center;
              color: transparent;
            }
          }
          .mainpage-link {
            background: url('../images/icons/close.png') no-repeat scroll center center;
            color: transparent;
            margin-right: 10px;
          }

          .mainpage-link:last-child {
            display: none;
          }

          .next {
            a {
              background: url('../images/icons/next.png') no-repeat scroll center center;
              color: transparent;
            }
          }
        }
        .links {
          display: none;
        }
      }
    }
  }


}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-team {
    .news-feed {
      height: 100vh;
      max-height: 100vh;
      padding-top: 0;
      .node-team-member {
        position: absolute;
        z-index: 1;
        max-height: 90vh;
        max-width: 1280px;
        margin-right: 90px;
      }
    }
  }

}