/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .section-team {
    .news-feed {
      height: 100vh;
      max-height: 100vh;
      padding-top: 10vh;
      .node-team-member {
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 7vh 0 0 0;
        // margin-right: 90px;

        .image-wrapper {
          display: inline-block;
          width: 100%;
        }
        .text-wrapper {
          display: inline-block;
          width: 100%;
          padding: 5% 10%;
        }
      }
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-team {
    .news-feed {
      height: 100vh;
      max-height: 100vh;
      padding-top: 10vh;
      .node-team-member {
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 7vh 0 0 0;
        // margin-right: 90px;

        .image-wrapper {
          display: inline-block;
          width: 100%;
        }
        .text-wrapper {
          display: inline-block;
          width: 100%;
          padding: 5% 10%;
        }
      }
    }
  }
}