/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .section-team {
    .news-feed {
      height: auto;
      max-height: none;
      padding-top: 0;
      margin: 0;
      width: 100%;
      .node-team-member {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translate(0%, 0%);
        z-index: 1;
        padding: 7vh 0 0 0;
        // margin-right: 90px;

        .image-wrapper {
          display: inline-block;
          width: 100%;
        }
        .text-wrapper {
          display: inline-block;
          width: 100%;
          padding: 5% 10%;
        }
      }
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .section-team {
    .news-feed {
      height: auto;
      max-height: none;
      padding-top: 0;
      margin: 0;
      width: 100%;
      .node-team-member {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translate(0%, 0%);
        z-index: 1;
        padding: 7vh 0 0 0;

        .image-wrapper {
          display: inline-block;
          width: 100%;
        }
        .text-wrapper {
          display: inline-block;
          width: 100%;
          padding: 5% 10%;
        }
      }
    }
  }
}