.news-section {
  max-width: 1280px;
  max-height: 1024px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding: 26vh 90px 0 90px;
  @include bottomLine();

  .news-item {
    width: 31.8%;
    max-width: 360px;
    height: auto;
    display: inline-block;

    margin: 10px 0px 10px 0px;

    &:nth-child(3n+2) {
      margin: 10px 20px 10px 20px;

    }

    .views-field {
      width: 100%;
      height: 100%;

      .news-content {
        display: block;
        min-width: 360px;
        height: 100%;
        //padding: 100px 50px 50px 60px;
        color: $main-text-color;
        text-align: center;
        text-decoration: none;
        transition-property: color;
        transition-duration: 0.3s;

        &:hover {
          color: $main-text-color;

          .news-title {
            a {
              color: $main-text-color;
            }
          }

          a {
            color: $main-text-color;
          }

        }

        img {
          max-width: 360px;
          max-height: 320px;
          display: block;
        }

        a {
          color: $main-text-color;
          text-align: left;
          transition-property: color;
          transition-duration: 0.3s;
          display: inline-block;
          width: 100%;
        }

        .category {
          margin-top: 15px;
          font-family: 'probaPro';
          font-weight: 200;
          font-size: $fs-sm;
          color: #a6a69d;
        }

        .news-title {
          height: 85px;
          a {
            margin-top: 15px;
            font-size: 14px;
            font-weight: 200;
            letter-spacing: 1px;
            color: #000;
            display: inline-block;

            &:hover {
              color: $main-text-color;
            }
          }
        }

        p {
          font-family: 'probaPro';
          font-size: $fs-sm;
          line-height: 150%;
          display: none;
        }

        .content-wrapper > a {
          font-family: 'probaPro';
          color: $main-text-color;
          display: inline-block;
          text-align: left;
        }

      }

    }
  }

  //.news-item {
  //  width: 31.8%;
  //  max-width: 360px;
  //  height: 320px;
  //  display: inline-block;
  //
  //  margin: 10px 0px 10px 0px;
  //
  //  //background: transparent url('../images/news/third.png') no-repeat scroll center center;
  //  &:nth-child(3n+2) {
  //    margin: 10px 20px 10px 20px;
  //
  //  }
  //
  //  .views-field {
  //    width: 100%;
  //    height: 100%;
  //
  //    .news-content {
  //      position: relative;
  //      min-width: 360px;
  //      height: 100%;
  //      padding: 90px 50px 50px 60px;
  //      color: transparent;
  //      text-align: center;
  //      text-decoration: none;
  //      transition-property: color;
  //      transition-duration: 0.3s;
  //
  //      img {
  //        max-width: 360px;
  //        max-height: 320px;
  //        position: absolute;
  //        z-index: -1;
  //        top: 0;
  //        left: 0;
  //      }
  //
  //      a {
  //        color: transparent;
  //        text-align: center;
  //        transition-property: color;
  //        transition-duration: 0.3s;
  //      }
  //
  //      &:hover {
  //        color: white;
  //        background-color: rgba(53, 66, 92, 0.7);
  //
  //        .news-title {
  //          a {
  //            color: white;
  //          }
  //        }
  //
  //        a {
  //          color: white;
  //        }
  //
  //      }
  //
  //      .category {
  //        font-size: $fs-sm;
  //      }
  //
  //      .news-title {
  //        a {
  //          display: inline-block;
  //          margin-top: 15px;
  //          margin-bottom: 15px;
  //          font-size: 15px;
  //          font-weight: 400;
  //          letter-spacing: 0.5px;
  //          color: #a6a69d;
  //          &:hover {
  //            color: white;
  //
  //          }
  //        }
  //      }
  //
  //      p {
  //        display: none;
  //        font-family: 'probaProSemibold';
  //        font-size: $fs-sm;
  //        line-height: 150%;
  //        &:hover {
  //          text-decoration: underline;
  //        }
  //      }
  //
  //    }
  //
  //  }
  //}

  .more-link {
    a {
      display: block;
      width: 16%;
      height: 37px;
      margin: 50px;
      margin-left: 42%;
      padding-top: 8px;
      text-align: center;
      background-color: $main-text-color;

      font-family: 'probaPro';
      letter-spacing: 2px;
      font-size: 15px;
      text-decoration: none;
      color: $white;

      &:hover {
        background-color: lighten($main-text-color, 20);
      }

    }
  }

}