* {
  transition: all, 0.3s;
}

.navigation, #main {
  display: none;
}
.main {
  height: 100vh;
}

div, span {
  vertical-align: top;
}

.loader {
  background: url('../images/loader/dotted_worldmap.png') no-repeat scroll center center;
  background-color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  color: $main-text-color;
  //animation-duration: 0.5s;

  .loader-text {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .appearence {
    animation-duration: 1.8s;
    margin-top: 30px;
  }

  .first {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    animation-delay: 0.4s;

    .logo {
      fill: $main-text-color;
    }

    // background: transparent url('../images/topStory/logo.png') no-repeat scroll center center;
  }

  .third {
    margin-top: 40%;
    display: inline-block;
    animation-delay: 2.3s;

  }

  .fourth {
    display: inline-block;
    animation-delay: 2.5s;
    animation-name: slideInUp;
    margin-top: 40%;
  }
}
