.top-story-section {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  position: inherit;

  .logo-container {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: -1;

    .line {
      //   fill: #c2c9d5;
      fill: none;
      stroke: #c2c9d5;
      stroke-width: 0.25;
      stroke-dasharray: 0 500;
      animation: lineAnimation 4s linear;

    }

    .globe {
      fill: none;
      stroke: #c2c9d5;
      stroke-width: 0.25;
      stroke-miterlimit: 10;
      animation: globeAnimation 8s linear;
    }

    .meridian {
      fill: none;
      stroke: $main-text-color;
      stroke-width: 0.75;
      stroke-dasharray: 0 200;
      animation: dash 6.8s linear 1.2s;
    }


    .logo {
      opacity: 0.01;
      fill: $main-text-color;
      //animation: logoAppearance 4s linear 4s;
      animation: logoAppearance 4s linear;
    }

  }

  .competences {
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: transparent;
    li {
      vertical-align: top;
      margin-top: 55%;
      display: inline-block;
      width: 13.6%;
      height: 50px;
      background-color: transparent;
      text-align: center;
      padding: 5px 5px 5px 7px;

      &:first-child {
        margin-left: 119px;
      }

      &:last-child {
        margin-right: 90px;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: $main-text-color;
        font-size: 14px;
        font-family: 'probaPro';
        text-transform: uppercase;
        border-bottom: 0px none transparent;
        transition: border-bottom 0.3s;
        &:hover {
          border-bottom: 3px solid $main-text-color;
        }
      }

    }
  }

  .carousel {
    z-index: 110;
    position: absolute;
    width: 100%;
    background-color: transparent;
    li {
      display: none;
      float: right;
      margin-right: 90px;
      margin-top: 17%;

      .views-field-title {
        a {
          color: $main-text-color;
        }
      }

      .views-field-created {
        span {
          color: #a6a69d;
          font-size: 16px;
        }
      }
    }
  }

  .phone {
    margin-top: 5px;
    display: block;
    position: fixed;
    top: 95%;
    left: 50%;
    background: transparent url('../images/topStory/phone_icon.png') no-repeat scroll top left;
    width: 20px;
    height: 20px;
    z-index: 110;
    text-align: left;
    color: $main-text-color;

    text-decoration: none;
    overflow: hidden;
    transition: width 1s;

    .phone-number {
      padding: 25px;
      text-decoration: none;
    }
    &:hover {
      width: 250px;
    }
  }
}

