

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  @include showMain();
  @include mobileSections(block);
  .section-mission {
    background: url('../images/whoWeAre/team.jpg') no-repeat fixed 110% -100%;
    background-size: 146% 90%;
    .news-feed {
      height: auto;
      min-height: 100vh;
      background: rgba(192, 192, 192, 0.7);
      padding: 10%;

      p {
        display: inline-block;
        width: 100%;
        color: $main-text-color;
        text-shadow: black;
        padding: 15% 45px 0 0;

        .title {
          font-family: 'probaPro';
          font-weight: 400;
          letter-spacing: 2px;
          margin: 20px 0px 10px 0px;
        }

        .line {
          display: block;
          border-bottom: 4px solid $main-text-color;
          width: 8%;
          margin-top: 5px;
        }

        .regular-text {
          margin-top: 20px;
        }
      }

      .links {
        display: none;
      }
    }
  }

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  @include showMain();
  @include mobileSections(block);
  .section-mission {
    background: url('../images/whoWeAre/team.jpg') no-repeat fixed 110% -100%;
    background-size: 146% 90%;
    .news-feed {
      height: auto;
      min-height: 100vh;
      background: rgba(192, 192, 192, 0.7);
      padding: 10%;

      p {
        display: inline-block;
        width: 100%;
        color: $main-text-color;
        text-shadow: black;
        padding: 15% 45px 0 0;

        .title {
          font-family: 'probaPro';
          font-weight: 400;
          letter-spacing: 2px;
          margin: 20px 0px 10px 0px;
        }

        .line {
          display: block;
          border-bottom: 4px solid $main-text-color;
          width: 8%;
          margin-top: 5px;
        }

        .regular-text {
          margin-top: 20px;
        }
      }

      .links {
        display: none;
      }
    }
  }
}