/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .section-mission {
    background: url('../images/career/background-full-hd_new.jpg') no-repeat scroll 100% 115%;
    background-attachment: scroll;
    background-position: top, left;
    background-size: 100% 50%;
    .news-feed {
      height: auto;
      min-height: 60vh;
      background: transparent;
      padding: 0 0 0 5%;
      max-height: 150vh;

      .view-content {
        display: none;
      }
      p {

        &:first-child {
          padding-top: 40vh;
        }
        display: inline-block;
        width: 90%;
        color: $main-text-color;
        padding: 10px 0 0 -1px;

      }
    }

    .mobile-navigation-section {
      background: transparent;
      top: 0;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-mission {

    .mobile-navigation-section {
      background: transparent;
      top: 0;
    }
  }
}