/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .section-mission {
    background: url('../images/whoWeAre/team.jpg') no-repeat scroll 350% 170%;
    background-size: 107% 122%;
    .news-feed {
      height: auto;
      min-height: 100vh;
      background: transparent;
      padding: 10vh 0 0 5%;
      p {
        display: inline-block;
        width: 90%;
        color: $main-text-color;
        padding: 80% 45px 0 50px;

      }
    }

    .mobile-navigation-section {
      background: transparent;
      top: 0;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .section-mission {

    .mobile-navigation-section {
      background: transparent;
      top: 0;
    }
  }
}