/* ----------- iPad  ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .section-mission {
    background: #E6E6E6;
    .news-feed {
      height: auto;
      background: #E6E6E6 url("../images/whoWeAre/team.jpg") no-repeat scroll 100% 100%;
      background-size: 100% auto;
      background-position: top left;
      width: 100%;
      margin-left: 0;
      padding: 330px 0 0 5%;
      min-height: 85vh;
      max-height: 500vh;

      article {
        width: 100%;
        display: inline-block;
        position: relative;
        z-index: 50;

        .field-name-body > .field-items > .field-item {
          max-height: none;
          overflow: auto;
        }
      }

      .view {
        height: auto;
      }

      .view-content {
        display: none;
      }
      p {

        &:first-child {
        }
        display: inline-block;
        width: 100%;
        color: $main-text-color;
        padding: 10px 0 0 -1px;

      }
    }

    .mobile-navigation-section {
      background: transparent !important;
      top: 0;
    }

    @include footerTabletPortrait();
  }
}

/* Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .section-mission {
    .news-feed {

      width: 100%;
      margin-left: 0;
      padding: 0vh 90px 0 90px;

      .field-name-body > .field-items > .field-item {
        max-height: none;
        overflow: auto;
      }

      .view {
        height: auto;
      }
    }
    .mobile-navigation-section {
      background: transparent !important;
      top: 0;
    }

    @include footerTablet();
  }
}