.section-team {
  .news-feed {
    padding-top: 140px;
    position: relative;
    overflow: hidden;

    .node-team-member {
      position: relative;
      top: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      z-index: 1;

      .image-wrapper {
        display: inline-block;
        width: 65%;
        .field-type-image {
          width: 100%;
          height: 100%;
          .field-items {
            width: 100%;
            height: 100%;
            .field-item {
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
      .text-wrapper {
        display: inline-block;
        width: 20%;
        padding-left: 2%;
        h2 {
          text-transform: uppercase;
          margin-bottom: 10px;
          font-family: 'probaPro';
          color: $main-text-color;
          text-decoration: none;
          transition: all 0.3s;
          font-size: $fs-md;
          font-weight: 200;
          &:after {
            content: '';
            display: block;
            border-bottom: 2px solid $main-text-color;
            width: 8%;
            max-width: 25px;
            margin-top: 10px;
          }
        }

        .field-name-field-position {
          .field-items {
            .field-item {
              font-size: 14px;
              color: $main-text-color;
              font-weight: 200;
              text-transform: uppercase;
              margin-bottom: 5px;
            }
          }
        }

        .field-name-field-linkedin {
          display: inline-block;

          .field-items {
            .field-item {
              a {
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                width: 20px;
                height: 20px;

                &:before {
                  content: ' ';
                  background: url('../images/icons/linkedIn.png') no-repeat scroll center center;
                  color: transparent;
                  display: block;
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }

        .field-name-field-email {
          display: inline-block;
          .field-items {
            .field-item {

              a {
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                width: 20px;
                height: 20px;

                &:before {
                  content: "";
                  background: url('../images/icons/envelope.png') no-repeat scroll center center;
                  color: transparent;
                  display: block;
                  width: 20px;
                  height: 20px;

                }
              }
            }
          }
        }

        .field-name-body {
          &:before {
            content: '';
            display: block;
            border-bottom: 2px solid $main-text-color;
            width: 8%;
            max-width: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          .field-items {
            .field-item {
              max-height: 50vh;
              overflow: auto;
              p {
                width: 95%;
                margin-top: 10px;
                font-family: 'probaPro';
                color: #4d4d4f;
                text-align: justify;
              }
            }
          }
        }
      }

      .field-name-field-tags {
        display: none;
      }
      .flippy {
        color: $main-text-color;
        margin-top: 2vh;
        width: 19%;
        position: absolute;
        text-align: left;

        li {
          display: inline-block;
          width: 30%;
          vertical-align: top;
          padding: 10px 0;
        }
        .prev {
          a {
            background: url('../images/icons/previous.png') no-repeat scroll left center;
            color: transparent;
          }
        }
        .mainpage-link {
          background: url('../images/icons/close.png') no-repeat scroll center center;
          color: transparent;
          display: inline-block;
          height: 40px;
        }

        .mainpage-link:last-child {
          display: none;
        }

        .next {
          a {
            background: url('../images/icons/next.png') no-repeat scroll right center;
            color: transparent;
            float: right;
          }
        }
      }
      .links {
        display: none;
      }
    }
  }
}
