@font-face {
  font-family: probaPro;
  src: url('../fonts/Proba_Pro_Regular.otf');
}

@font-face {
  font-family: probaProSemibold;
  src: url('../fonts/Proba_Pro_SemiBold.otf');
  font-weight: unset;
}

@font-face {
  font-family: probaProLightItalic;
  src: url('../fonts/Proba_Pro_Light_Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: probaProItalic;
  src: url('../fonts/Proba_Pro_Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: probaProMedium;
  src: url('../fonts/Proba_Pro_Medium.otf');
}