@font-face {
  font-family: probaPro;
  src: url('../fonts/Proba_Pro_Medium.otf');
}

@font-face {
  font-family: probaProSemibold;
  src: url('../fonts/Proba_Pro_SemiBold.otf');
  font-weight: 400;
}

@font-face {
  font-family: probaProItalic;
  src: url('../fonts/Proba_Pro_Light_Italic.otf');
  font-style: italic;
}