/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .news-feed {
    padding: 0;
    .node-news {
      height: 100%;
      max-height: 100%;
      color: #a6a69d;
      font-family: 'probaPro';
      padding: 7% 10% 0 10%;

      &.next {
        color: $main-text-color;
        background: url('../images/icons/next.png') no-repeat scroll center center;
      }

      &.previous {
        color: $main-text-color;
        background: url('../images/icons/previous.png') no-repeat scroll center center;
      }

      .submitted-by, .field-name-field-tags {
        display: inline-block;
        margin: -2px 10px 10px 0;
        a {
          text-decoration: none;
          color: #a6a69d;
          font-size: 16px;
          font-family: 'probaPro';
          font-weight: 200;

        }

      }

      header {
        &:before {
          margin-bottom: 5px;
          border-top: 2px solid $main-text-color;
        }

        &:after {
          margin-top: 5px;
          border-bottom: 2px solid $main-text-color;
        }
        .node-title {
          width: 100%;
          font-family: 'probaPro';
          font-weight: 400;
          letter-spacing: 2px;
          margin: 20px 0px 10px 0;
          color: $main-text-color;
          display: inline-block;
          text-transform: uppercase;
        }
      }
      .field-name-field-image {
        display: none;

      }

      .field-name-body {
        display: inline-block;
        width: 100%;
        padding: 0;

        .field-item {
          overflow: auto;
          max-height: none;
          word-wrap: break-word;
        }
      }

      .flippy {
        color: $main-text-color;
        position: relative;
        li {
          width: 32%;
        }
        .prev {
          display: inline-block;
          a {
            display: block;
            background: url('../images/icons/previous.png') no-repeat scroll left center;
            color: transparent;
          }
        }

        .next {
          display: inline-block;
          a {
            background: url('../images/icons/next.png') no-repeat scroll right center;
            color: transparent;
          }
        }
      }
      .links {
        display: none;
      }

    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
  .news-feed {
    padding: 0;
    .node-news {
      height: 100%;
      max-height: 100%;
      color: #a6a69d;
      font-family: 'probaPro';
      padding-top: 7%;
      padding-left: 10%;

      &.next {
        color: $main-text-color;
        background: url('../images/icons/next.png') no-repeat scroll center center;
      }

      &.previous {
        color: $main-text-color;
        background: url('../images/icons/previous.png') no-repeat scroll center center;
      }

      .submitted-by, .field-name-field-tags {
        display: inline-block;
        margin: 10vh 10px 10px 10px;
        a {
          text-decoration: none;
          color: #a6a69d;
          font-size: 16px;
          font-family: 'probaPro';
          font-weight: 200;

        }

      }

      header {
        &:before {
          margin-bottom: 5px;
          border-top: 2px solid $main-text-color;
        }

        &:after {
          margin-top: 5px;
          border-bottom: 2px solid $main-text-color;
        }
        .node-title {
          font-family: 'probaPro';
          font-weight: 400;
          letter-spacing: 2px;
          margin: 10vh 0 10px 15px !important;
          color: $main-text-color;
          display: inline-block;
          text-transform: uppercase;
          width: 100%;
        }
      }
      .field-name-field-image {
        display: none;
      }

      .field-name-body {
        display: inline-block;
        width: 100%;
        padding: 10px;

        .field-item {
          overflow: auto;
          max-height: none;
          word-wrap: break-word;
        }
      }

      .flippy {
        color: $main-text-color;
        position: relative;
        li {
          width: 32%;
        }

        .prev {
          display: inline-block;

          a {
            display: block;
            background: url('../images/icons/previous.png') no-repeat scroll left center;
            color: transparent;
          }
        }

        .next {
          display: inline-block;
          a {
            background: url('../images/icons/next.png') no-repeat scroll right center;
            color: transparent;
          }
        }
      }
      .links {
        display: none;
      }
    }
  }
}
